@font-face {
  font-family: "Philosopher";
  src: url("../fonts/PHILOSOPHER-BOLD.TTF"); }
@font-face {
  font-family: "Philosopher-regular";
  src: url("../fonts/PHILOSOPHER-REGULAR.TTF"); }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0px; } }
.menu-top {
  height: 40px;
  background: #c60706; }
  .menu-top .menu-top-left {
    padding-top: 6px;
    float: left;
    font-family: 'Open Sans', sans-serif; }
    .menu-top .menu-top-left .address {
      float: left;
      padding-right: 12px; }
      .menu-top .menu-top-left .address i {
        font-size: 13px;
        margin-right: 5px;
        color: #ffffff; }
      .menu-top .menu-top-left .address a {
        font-weight: 400;
        font-size: 13px;
        color: #ffffff; }
      @media (max-width: 992px) {
        .menu-top .menu-top-left .address {
          display: none; } }
    .menu-top .menu-top-left .address-2 {
      float: left;
      padding-left: 12px; }
      .menu-top .menu-top-left .address-2 i {
        font-size: 13px;
        margin-right: 5px;
        color: #ffffff; }
      .menu-top .menu-top-left .address-2 a {
        font-weight: 400;
        font-size: 13px;
        color: #ffffff; }
      @media (max-width: 576px) {
        .menu-top .menu-top-left .address-2 {
          display: none; } }
    .menu-top .menu-top-left .md {
      float: left;
      color: #ffffff; }
      @media (max-width: 992px) {
        .menu-top .menu-top-left .md {
          display: none; } }
  .menu-top .menu-top-right {
    float: right;
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px; }
    .menu-top .menu-top-right .login {
      float: left; }
      .menu-top .menu-top-right .login i {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .login span {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .login a {
        color: #fff;
        font-size: 13px; }
      @media (max-width: 992px) {
        .menu-top .menu-top-right .login {
          display: none; } }
    .menu-top .menu-top-right .search {
      position: relative;
      margin-left: 15px;
      float: left; }
      .menu-top .menu-top-right .search i {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .search span {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .search a {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .search:hover .form-search {
        top: 20px;
        opacity: 1;
        visibility: visible; }
      .menu-top .menu-top-right .search .form-search {
        position: absolute;
        z-index: 9999;
        width: 200px;
        opacity: 0;
        visibility: hiden;
        height: 40px;
        left: -109px;
        transition: all .5s;
        top: 70px; }
        .menu-top .menu-top-right .search .form-search form {
          position: relative; }
          .menu-top .menu-top-right .search .form-search form input[type="text"] {
            width: 100%;
            padding: 5px 10px;
            position: absolute;
            left: 0;
            top: 0;
            outline: none;
            border: none;
            border: 1px solid red;
            border-radius: 10px;
            font-size: 12px; }
          .menu-top .menu-top-right .search .form-search form button {
            padding: 8px 19px;
            outline: none;
            position: absolute;
            right: 0;
            top: 0;
            background: transparent;
            border: none; }
            .menu-top .menu-top-right .search .form-search form button i {
              color: black; }
    .menu-top .menu-top-right .car {
      float: left;
      margin-left: 15px; }
      .menu-top .menu-top-right .car i {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .car span {
        color: #fff;
        font-size: 13px; }
      .menu-top .menu-top-right .car a {
        color: #fff;
        font-size: 13px; }

.menu {
  width: 100%;
  position: relative;
  background: white;
  z-index: 999; }
  @media (max-width: 1200px) {
    .menu {
      height: 62px; } }
  .menu .menu-left {
    width: 50%;
    float: left;
    padding: 35px 0px;
    transition: all 1s; }
    @media (max-width: 1200px) {
      .menu .menu-left {
        display: none; } }
    .menu .menu-left > ul {
      margin: 0px;
      padding: 0px; }
      .menu .menu-left > ul > li {
        position: relative;
        display: inline-block;
        padding: 10px 15px 10px 0px; }
        .menu .menu-left > ul > li a {
          font-family: 'Philosopher';
          font-size: 15px;
          font-weight: 700;
          color: #c60706; }
        .menu .menu-left > ul > li:hover .menu-one {
          top: 39px;
          opacity: 1;
          visibility: visible; }
      .menu .menu-left > ul .menu-one {
        position: absolute;
        background: white;
        width: 150%;
        padding: 0;
        margin: 0;
        transition: all .5s;
        opacity: 0;
        visibility: hidden;
        top: 59px; }
        .menu .menu-left > ul .menu-one li {
          width: 100%;
          display: block;
          position: relative;
          list-style: none; }
          .menu .menu-left > ul .menu-one li a {
            display: block;
            width: 100%;
            padding: 10px 0px 10px 0px; }
          .menu .menu-left > ul .menu-one li:hover .menu-2 {
            display: block;
            left: 100%;
            opacity: 1;
            visibility: visible; }
      .menu .menu-left > ul .menu-2 {
        position: absolute;
        background: white;
        width: 100%;
        padding: 0;
        margin: 0;
        left: 120%;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s; }
        .menu .menu-left > ul .menu-2 li {
          width: 100%;
          display: block;
          position: relative;
          list-style: none; }
          .menu .menu-left > ul .menu-2 li a {
            display: block;
            width: 100%;
            padding: 10px; }
  .menu .menu-btn-show {
    float: right;
    margin-top: 17px; }
    @media (max-width: 1200px) {
      .menu .menu-btn-show {
        display: block; } }
  .menu .menu-right {
    width: 50%;
    float: right;
    padding: 35px 0px;
    transition: all 1s; }
    .menu .menu-right ul {
      margin: 0px;
      padding: 0px;
      float: right; }
      .menu .menu-right ul li {
        display: inline-block;
        padding: 10px 15px 10px 0px; }
        .menu .menu-right ul li a {
          font-family: 'Philosopher', sans-serif;
          font-size: 15px;
          font-weight: 700;
          color: #c60706; }
    @media (max-width: 1200px) {
      .menu .menu-right {
        display: none; } }
  .menu .logo {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 220px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    top: 0px;
    background: #fff;
    padding-top: 20px;
    border-radius: 50%;
    border: 10px solid #fff;
    transition: all 1s; }
    .menu .logo img {
      transition: all .1s; }
  .menu .container {
    transition: all 3s; }
    .menu .container::after {
      clear: both; }

.slide .lazys .slick-prev {
  display: none !important; }
.slide .lazys .slick-next {
  display: none !important; }
.slide .lazys .slick-slide {
  padding: 0px !important;
  margin: 0px !important;
  height: auto; }

.phone-hn {
  position: fixed;
  right: 0px;
  top: 425px;
  z-index: 9999;
  background: #c60706;
  border: 1px solid #c9c9c9;
  border-radius: 145px 0px 0px 145px;
  padding: 7px 15px; }
  .phone-hn .icon-phone {
    float: left; }
    .phone-hn .icon-phone i {
      font-size: 50px;
      margin-top: 4px;
      color: white; }
  .phone-hn .content-phone {
    margin-left: 15px;
    float: left;
    font-family: 'Philosopher', sans-serif; }
    .phone-hn .content-phone p {
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: white; }
    .phone-hn .content-phone a {
      font-size: 22px;
      color: white; }
    @media (max-width: 576px) {
      .phone-hn .content-phone {
        display: none; } }

.phone-nd {
  top: 350px; }

.photo-library {
  padding-top: 90px; }
  .photo-library .title-news {
    text-align: center;
    margin-bottom: 35px; }
    .photo-library .title-news span {
      font-size: 40px;
      font-family: 'Philosopher-regular';
      color: #c60706; }
      @media (max-width: 992px) {
        .photo-library .title-news span {
          font-size: 30px; } }
    .photo-library .title-news img {
      margin-top: -20px; }
      @media (max-width: 767px) {
        .photo-library .title-news img {
          display: none; } }
  .photo-library .slide-library .sliders {
    margin: 0px; }
    .photo-library .slide-library .sliders > button {
      display: none !important; }
    .photo-library .slide-library .sliders .slick-slide {
      height: auto;
      margin: 0px; }
    .photo-library .slide-library .sliders .slick-dots {
      display: none !important; }
  .photo-library .slick-slide {
    margin: 0px; }
    .photo-library .slick-slide img {
      width: 100%; }

.clear {
  clear: both; }

.slider {
  width: 100%; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

.slick-active {
  opacity: 1; }

/*# sourceMappingURL=header.css.map */
