@font-face {
	font-family:"Philosopher";
	src:url('../fonts/PHILOSOPHER-BOLD.TTF');

	}
	@font-face {
	font-family:"Philosopher-regular";
	src:url('../fonts/PHILOSOPHER-REGULAR.TTF');

	}


@media (min-width: 1200px){
.container {
    max-width: 1170px;
    padding: 0px;
}
}
// Header top
.menu-top{
	a:hover{
		text-decoration: none;
	}
	height: 40px;
	background: #c60706;
	.menu-top-left{
		padding-top: 6px;
		float:left;
		font-family: 'Open Sans', sans-serif;
	.address{
		
		float:left;
		padding-right:12px;
	
		i{
			font-size:13px;
			margin-right:5px;
			color: #ffffff;
		}
		a{
			
			font-weight: 400;
			font-size:13px;
			color: #ffffff;
		}
		@media (max-width:992px){
				display: none;
			}
	}
	.address-2{
		
		float:left;
		padding-left:12px;
		 
		i{
			font-size:13px;
			margin-right:5px;
			color: #ffffff;
		}
		a{
			
			font-weight: 400;
			font-size:13px;
			color: #ffffff;
		}
		@media (max-width:576px){
				display: none;
			}

	}
	.md{
		float:left;
		 color: #ffffff;
		 @media (max-width:992px){
				display: none;
			}
	}
	}

	.menu-top-right{
		float:right;
		font-family: 'Open Sans', sans-serif;
		padding-top: 6px;
		.login{
			float:left;
			    
			i{
				color: #fff;
				font-size:13px;
			}
			span{
				color: #fff;
				font-size:13px;
			}
			a{
				color: #fff;
				font-size:13px;
			}
			@media (max-width:992px){
				display: none;
			}
		}
		.search{
			position: relative;
			margin-left:15px;
			float:left;
			i{
				color: #fff;
				font-size:13px;
			}
			span{
				color: #fff;
				font-size:13px;
			}
			a{
				color: #fff;
				font-size:13px;
			}
			&:hover{
				.form-search{
					top: 20px;
					opacity:1;
					  visibility: visible;
				}
			}
			.form-search{
				position: absolute;
				z-index: 9999;
				width: 200px;
				opacity:0;
				visibility: hidden;
				height: 40px;
				left: -109px;
				transition:all .5s;
				top: 70px;
				form{
					position: relative;

					input[type="text"]{
						width: 100%;
						padding:5px 10px;
						position: absolute;
						left: 0;
						top: 0;
						outline: none;
						border:none;
						border:1px solid red;
						border-radius:10px;
						font-size:12px;
					}
					button{

						padding:8px 19px;
						outline: none;
						position: absolute;
						right: 0;
						top: 0;
						background: transparent;
						
						border:none;
						i{
							
							color:black;
						}
					}
				}
			}

		}
		.car{
			float:left;
			margin-left:15px;
			i{
				color: #fff;
				font-size:13px;
			}
			span{
				color: #fff;
				font-size:13px;
			}
			a{
				color: #fff;
				font-size:13px;
			}
		}
		
	}
	
}

// Header top

// menu

.menu{
	width: 100%;
	position: relative;
	background: white;
	z-index: 999;
	@media (max-width:1200px){
				height:  62px;
			}
	.menu-left{
		@media (max-width:1200px){
				display: none;
			}
		width: 50%;
		float:left;
		padding: 35px 0px;
		transition: all 1s;

		>ul{
			margin:0px;
			padding: 0px;
			>li{
				position: relative;
				display: inline-block;
				padding: 10px 15px 10px 0px;
				a{
					font-family: 'Philosopher';
					font-size:15px;
					font-weight: 700;
					color: #c60706;
				}
				&:hover{
					.menu-one{
						top: 39px;
						opacity:1;
						visibility: visible;
					}
				}
			}
			.menu-one{
				position: absolute;
				background: white;
				width: 150%;
				padding: 0;
				margin:0;
				transition:all .5s;
				opacity:0;
				visibility: hidden;
				top: 59px;
					li{
						width: 100%;
						display: block;
						position: relative;
						list-style: none;
						a{
							display: block;
							width: 100%;
							padding: 10px 0px 10px 0px;
						}
						&:hover{
						.menu-2{
							display: block;
							left: 100%;
							opacity:1;
							visibility: visible;
						}
					}
					}
					
				
			}
			.menu-2{
				position: absolute;
				background: white;
				width: 100%;
				padding: 0;
				margin:0;
				left: 120%;
				top: 0;
				opacity:0;
				visibility: hidden;
				transition:all .5s;
					li{
						width: 100%;
						display: block;
						position: relative;
						list-style: none;
						a{
							display: block;
							width: 100%;
							padding: 10px;
						}
					}

			}
		}
		
	}
	.menu-btn-show{
		@media (max-width:1200px){
				display: block;
			}
		float:right;
		margin-top:17px;
	}

	.menu-right{
		width: 50%;
		float:right;
		padding: 35px 0px;
		transition: all 1s;
		ul{
			margin:0px;
			padding: 0px;
			float: right;
			li{
				display: inline-block;
				padding: 10px 15px 10px 0px;
				a{
					font-family: 'Philosopher', sans-serif;
					font-size:15px;
					font-weight: 700;
					color: #c60706;
				}
			}
		}
		@media (max-width:1200px){
				display: none;
			}
		
	}
	.logo{
		position: absolute;
	    left: 0px;
	    right: 0px;
	    width: 220px;
	    height: 140px;
	    margin: 0 auto;
	    text-align: center;
	    top: 0px;
	    background: #fff;
	    padding-top: 20px;
	    border-radius: 50%;
	    border: 10px solid #fff;
	    transition: all 1s;
	    img{
	    	transition: all .1s;
	    	@media (max-width:992px){
				        width: 110px !important;
    height: 55px !important;
			}
	    }
	    @media (max-width:992px){
				    width: 160px !important;
				    padding-top:0px !important;
    				    height: 75px !important;
			}
	}
	.container{
		transition: all 3s;
		&::after{
			clear:both;
		}
	}
	
	

}

.slide{
	.lazys{

		.slick-prev{
			display: none !important;
		}
		.slick-next{
			display: none !important;
		}
		.slick-slide{
			padding:0px !important;
			margin:0px !important;
			height: auto;
		}
	}
}

.phone-hn{
	position: fixed;
	right:0px;
	top: 425px;
	z-index: 9999;
	background: #c60706;
	border:1px solid #c9c9c9;
	border-radius: 145px 0px 0px 145px;
	padding:7px 15px;
	.icon-phone{
		float:left;
		i{
			    font-size: 50px;
			        margin-top: 4px;
			    color:white;
		}
	}
	.content-phone{
		margin-left:15px;
		display:none;
		float:left;
		font-family: 'Philosopher', sans-serif;
		p{
			margin:0px;
			font-family: 'Open Sans', sans-serif;
			font-size:14px;

			color:white;
		}
		a{
			font-size:22px;
			color:white;
		}
		@media (max-width:576px){
				
				display: none;
				 
			}
	}
}
.phone-nd{
	top: 350px;
}

.photo-library{
		padding-top:90px;
		.title-news{
		text-align:center;
		margin-bottom:20px;
		span{
			font-size:40px;
			font-family: 'Philosopher-regular';
			color: #c60706;
			@media (max-width: 992px){
				font-size:30px;
			}

		}
		img{
			margin-top: -20px;
			@media (max-width: 767px){
				display:none;
			}
		}
	}
	.slide-library{
		.sliders{
			margin:0px;
			>button{
				display: none !important;
			}
			.slick-slide{
				height: auto;
				margin: 0px;
			}
			.slick-dots{
				display: none !important;
			}
		}
	}
	.slick-slide{
		margin:0px;
		img{
			width: 100%;
		}
	}
}

.clear{
	clear: both;
}

.slider {
        width: 100%;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: 1;
    }
    .panner{
    	position: relative;
    	img{
    		width:100%;
    	}
    	.text-panner{
    		position: absolute;
    		
			width: 100%;
    		text-align: center;
    		@media (max-width: 1920px){
					top: calc(50% - 12%);
				}
    		@media (max-width: 767px){
					top: calc(50% - 30%);
				}
				@media (max-width: 478px){
					top: calc(50% - 15%);
				}
    		h2{
    			color:white;
    			font-family: 'Philosopher';
    			font-size:60px;
    			margin:0px;
    			@media (max-width: 767px){
					font-size:30px;
				}
				@media (max-width: 576px){
					font-size:16px;
				}
    		}
    		p{
    			color:white;
    			font-family: 'Open Sans', sans-serif;
    			font-size:14px;
    		}
    		a{
    			color:white;
    			
    			@media (max-width: 767px){
					font-size:12px;
				}
				@media (max-width: 576px){
					font-size:9px;
				}
				&:hover{
					text-decoration: none;
				}
    			
    		}
    	}
    }