.main{
	padding:50px 0px;
	.category{
		h2{
			text-transform: uppercase;			
			font-size:18px;
			font-family: 'Philosopher';
			padding: 20px 0px;
			text-align:center;
			color:white;
			background: url("../../images/bg-menu1.jpg");
			margin:0px;
		}
		ul{
			margin:0px;
			padding: 0;
			li{
				margin:0px;
				list-style: none;
				a{
					font-family: 'Open Sans', sans-serif;
					font-size:14px;
					color:#717171;
					float:left;
					padding:20px 0px 20px 35px;
					border-bottom:1px solid #ebebeb;
					border-left:1px solid #ebebeb;
					border-right:1px solid #ebebeb;
					width: 100%;
					transition:all .5s;
					&:hover{
						text-decoration: none;
						background: #717171;
						color:white;

					}
				}
			}
		}
	}
	.cover{
		margin-top:40px;
		h2{
			font-size:18px;
			font-family: 'Philosopher';
			padding: 20px 0px;
			text-align:center;
			color:white;
			background: url("../../images/bg-menu1.jpg");
			margin:0px;
		}
		ul{
			margin:0px;
			padding: 0;
			li{
				font-family: 'Open Sans', sans-serif;
				margin:0px;
				list-style: none;
				padding:20px 0px 20px 35px;
				border-bottom:1px solid #ebebeb;
				border-left:1px solid #ebebeb;
				font-size:14px;
				border-right:1px solid #ebebeb;
				color:#717171;
				a{
					font-family: 'Open Sans', sans-serif;
					color:red;
					font-weight: 700;
				}
			}
		}
	}

}

.detail-product{
	h2{
		font-family: 'Philosopher-regular';
		font-size:25px;
		color:#c60706;
	}
	p{
		font-family: 'Open Sans', sans-serif;
		font-size:14px;
		color:#717171;
	}
	.price{
		font-size:18px;
		color:#c60706;
	}
	input{
		width: 50px;
		padding:3px;
		text-align:center;
		font-size:14px;
		background:transparent;
		border:1px solid #dbdbdb;
		color: #949494;
		outline: none;
	}
	button{
		font-size:14px;
		padding:3px 10px;
		background:transparent;
		cursor: pointer;
		color: #949494;
		outline: none;
		
	}
	#up{
		border-radius:0px 5px 5px 0px;
		border-bottom:1px solid #dbdbdb;
		border-right:1px solid #dbdbdb;
		border-top:1px solid #dbdbdb;
		border-left:none;
	}	
	#reduction{
		border-radius:5px 0px 0px 5px;
		border-bottom:1px solid #dbdbdb;
		border-left:1px solid #dbdbdb;
		border-top:1px solid #dbdbdb;
		border-right:none;
	}
	a{
		width: 200px;
	    padding: 13px;
	    text-align: center;
	    display: block;
	    background: #c60706;
	    margin: 20px 0px;
	    font-size: 14px;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 700;
	    height: 44px;
	    color: white;
	    border-radius: 4px;
		i{
			margin:0px 10px;
		}
		&:hover{
			text-decoration: none;
		}

	}
}
.menu-top .menu-top-left {
	padding-top: 10px;
}
.menu-top .menu-top-right{
	padding-top: 10px;
}
.tab-content{
	padding:25px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.nav-tabs{
	li {
		a{
			color:#717171;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
		}
	}
	.active{
		a{
			color:#c60706 !important;
		}
	}
}
.product-care{
	h2{
		font-family: 'Philosopher-regular';
		font-size:25px;
		color:#c60706;
		margin-bottom:30px;
	}
}

.list-product{

	.slick-slide{
	height:auto;
		
	}
	.regularss {
		>button{
			display: none !important;
		}
		margin:0px;
		.slick-prev{
			       left: -50px;

			    &:before{
			    	 padding: 10px;
				    background: rgba(226, 167, 6, 0.5);
				    border-radius: 50%;
				    border: 1px solid #e2a706;
			    }
		}
		.slick-next{
		  &:before{
			    	 padding: 10px;
				    background: rgba(226, 167, 6, 0.5);
				    border-radius: 50%;
				    border: 1px solid #e2a706;
			    }

		}
		.name-booth{
			h2{
			text-align:center;
			padding:20px 0px;
			margin:0px;
			}
			a{
				color: #c60706;
				
				font-size:25px;
				font-family: 'Philosopher-regular', sans-serif;
			}
		}
	}
	.slick-dots{
	display:none !important;
	}
	.img-sile{
		padding:8px;
		border:1px solid #e2a706;
	}
	.slick-slide {
   	 margin: 0px 15px;
   	 	img{
	   	 	width:100%;
	   	 	height:228px;
   	 	@media (max-width: 1200px){
   	 			width: 100%;
		}
   	 	}
	}
}
.nav {
	li{
		
		a{
			border: 1px solid #ddd;
			border-bottom-color: transparent;
		}
		
		.active{
			
		}
	}
	
}