.list-category{
	padding:95px 0px 75px 0px;
	background: url("../../images/bg-category.png");
	background-size:cover;
	.category {
		margin:0px;
		
		 >button{
		 	display: none !important;
		 }
		 .slick-slide{
		 	height: auto;
		 }
		 .slick-dots{
		 	display: none !important;
		 }
		 .item-c{

		 	.img-c{
		 		text-align:center;
		 		img{
		 			width: 69px;
		 			height:69px;
		 			margin:0 auto;
		 		}
		 		
		 	}
		 }
		 .name-c{
		 	margin:20px 0px;
		 	text-align:center;
		 	a{
		 		
		 		font-family: 'Philosopher';
		 		color:#424242;
		 		font-size:20px;
		 		margin:0px;
		 		&:hover{
		 			text-decoration: none;
		 		}
		 	}
		 }
	}
}

.list-pabulum{
	padding:40px 0px;
	.col-lg-4{

		&:nth-last-of-type(1){
			.pabulums{
				border-bottom:none;
			}
			
		}
		&:nth-last-of-type(2){
			
			.pabulums{
				border-bottom:none;
				@media (max-width: 767px){
    					border-bottom:1px solid #e5e5e5;
    				}
			}
		}
		&:nth-last-of-type(3){
			
			.pabulums{
				border-bottom:none;
				@media (max-width: 992px){
    					border-bottom:1px solid #e5e5e5;
    				}
			}
		}
	}
	
	.pabulums{
		padding:25px 0px;
		display: block;
		border-bottom:1px solid #e5e5e5;
		
		.item-pabulum {
			float:left;
			img{
				width: 69px;
				height: 69px;
				border-radius:50%;
			}
		}
		.content-pabulum{
			float:left;
			margin-left:30px;
			padding-top:10px;
			b{

				a{
					font-family: 'Philosopher';
					font-size:16px;
					color:black;
				}
			}
			p{
				font-family: 'Philosopher';
				font-size:14px;
				color:#c60706;
			}
		}
	}
}
.mg{
	margin:0;
	padding:0;
	@media (max-width: 576px){
    		padding:0px 20px;
    	}
}