.img-news{
	img{
		width: 100%;
	}
}
.content-news{
	padding:20px 0px;
	a:hover{
		text-decoration: none;
	}
	h2{
		font-family: 'Philosopher';
		font-size:20px;
		color:#c60706;
		margin-bottom:20px;
	}
	
	p{
		b{
			color:#c60706;
		}
		font-size:12px;
		color:#a7a7a7;
		font-family: 'Open Sans', sans-serif;
		a{
			color:#c60706;
		}
		span{
			margin:0px 15px;
		}
		i{
			margin-right:4px;
		}
	}
	.content{
		font-size:14px;
	}
	a{
		color:#c60706;
		font-size:16px;


	}
}
.main{
	padding:69px 0px;
}

.list-page{
	margin-bottom:21px;
	ul{
		margin:0px;
		text-align:left;
		padding: 0px;
		li{
			margin:0px;
			list-style-type: none;
			display: inline-block;
			padding:15px 2px;
			a{
				padding:10px 15px;
				color:#c60706;
			
				border:1px solid #e5e5e5;
				
			}
			i{
				padding:13px 6px;
				color:#c60706;
				width: 50px;
				border:1px solid #e5e5e5;
				}
			a:hover{
				text-decoration: none;
				background: #c60706;
				color:white;
			}
			&:last-child{
				
				a{
					padding:0px;
					color:#c60706;
					text-align:center;
					border:none;
				
				}
				a:hover{
					i{

						background: #c60706;
					color:white;
					}
				}
			}
		}
		
	}
}