.main {
  height: 500px; }
  .main .about {
    text-align: center; }
  .main .cuisine {
    text-align: center; }
    .main .cuisine .content-cuisine {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      width: 85%;
      margin: 0 auto; }
  .main .menu-category {
    position: relative; }
    .main .menu-category > img {
      width: 100%;
      height: 965px; }
    .main .menu-category .title-menu {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 90px; }
    .main .menu-category .content-menu {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      width: 85%;
      margin: 0 auto; }
      .main .menu-category .content-menu p {
        color: white;
        margin: 32px 0px 22px 0px; }
    .main .menu-category .regular .slick-next {
      display: none !important; }
    .main .menu-category .regular .slick-prev {
      display: none !important; }
    .main .menu-category .regular .title-menu1 {
      background: url("../../images/bg-menu1.jpg");
      padding: 16px;
      margin-bottom: 6px; }
      .main .menu-category .regular .title-menu1 h2 {
        padding: 22px;
        text-align: center;
        font-size: 14px;
        font-family: 'Philosopher', sans-serif;
        color: white;
        border: 1px solid #b55606;
        margin: 0px; }
    .main .menu-category .regular .content-menu1 {
      background: #ebeae8;
      padding: 15px; }
      .main .menu-category .regular .content-menu1 ul {
        margin: 0px;
        border: 1px solid #b55606;
        padding: 30px 20px; }
        .main .menu-category .regular .content-menu1 ul li {
          list-style: none;
          padding: 7px 0px;
          font-size: 14px; }
          .main .menu-category .regular .content-menu1 ul li .name-category {
            float: left;
            position: relative;
            overflow: hidden; }
          .main .menu-category .regular .content-menu1 ul li .name {
            position: absolute;
            left: 0;
            top: 0;
            background: #ebeae8; }
          .main .menu-category .regular .content-menu1 ul li .price-category {
            float: right; }
          .main .menu-category .regular .content-menu1 ul li:after {
            content: "\0020";
            white-space: pre;
            clear: both; }

.food-group .title-f {
  padding: 75px 0px;
  background: url("../../images/bgtinhhoa.png"); }
.food-group .title-food {
  text-align: center; }
  .food-group .title-food span {
    font-size: 40px;
    font-family: 'Philosopher-regular';
    color: #c60706; }
  .food-group .title-food img {
    margin-top: -20px; }
.food-group .content-food-left {
  width: 50%;
  float: left; }
.food-group:after {
  content: "\0020";
  white-space: pre;
  clear: both; }

.slider {
  width: 100%; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

.slick-active {
  opacity: 1; }

.content-food-left section button {
  display: none !important; }
.content-food-left .slider-product {
  float: left;
  width: 75%; }
  .content-food-left .slider-product .slick-slide {
    height: 664px;
    margin: 0px; }
    .content-food-left .slider-product .slick-slide div {
      height: 100%; }
      .content-food-left .slider-product .slick-slide div img {
        height: 100%; }
.content-food-left .list-category {
  width: 25%;
  float: left;
  padding: 20px;
  background: url(../../images/bg-menu1.jpg);
  font-family: 'Philosopher', sans-serif;
  height: 664px; }
  .content-food-left .list-category .title-list-c {
    border: 1px solid #e2a706;
    height: 100%;
    padding: 45px 0px; }
    .content-food-left .list-category .title-list-c .slick-dots {
      display: none !important; }
    .content-food-left .list-category .title-list-c .slick-next {
      right: 30%;
      top: 100%; }
      .content-food-left .list-category .title-list-c .slick-next::before {
        padding: 10px;
        background: rgba(226, 167, 6, 0.5);
        border-radius: 50%;
        border: 1px solid #e2a706; }
    .content-food-left .list-category .title-list-c .slick-prev {
      left: 30%;
      top: 100%; }
      .content-food-left .list-category .title-list-c .slick-prev::before {
        padding: 10px;
        background: rgba(226, 167, 6, 0.5);
        border-radius: 50%;
        border: 1px solid #e2a706; }
    .content-food-left .list-category .title-list-c button {
      display: inline-block !important; }
  .content-food-left .list-category h1 {
    font-size: 30px;
    color: white;
    text-align: center; }
  .content-food-left .list-category .slider h2 {
    font-family: 'Philosopher-regular', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px; }
  .content-food-left .list-category .slider .slick-slide {
    opacity: 0; }
  .content-food-left .list-category .slider .slick-active {
    opacity: 1; }

.content-food-right {
  width: 50%;
  padding: 95px 70px;
  float: left; }
  .content-food-right .title-food-r {
    text-align: center;
    font-family: 'Philosopher-regular', sans-serif;
    font-size: 30px; }
    .content-food-right .title-food-r h2 {
      color: #c60706; }
  .content-food-right .comment-food p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0px 50px 0px;
    text-algin: center; }
  .content-food-right .regulars .slick-slide {
    height: auto;
    padding: 8px;
    border: 1px solid #e2a706;
    margin: 0px 15px; }
  .content-food-right .regulars .slick-list {
    padding-bottom: 35px; }
  .content-food-right .regulars .slick-dots {
    padding-top: 35px;
    font-size: 30px !important; }
    .content-food-right .regulars .slick-dots button:before {
      color: red;
      font-size: 15px; }
  .content-food-right .regulars .slick-prev {
    display: none !important; }
  .content-food-right .regulars .slick-next {
    display: none !important; }

.booth {
  padding: 90px 125px;
  background: #f8e3c5; }
  .booth .title-b {
    text-align: center;
    margin-bottom: 25px; }
    .booth .title-b span {
      font-size: 40px;
      color: #c60706;
      font-family: 'Open Sans', sans-serif; }
    .booth .title-b img {
      margin-top: -20px; }
  .booth .slick-slide {
    height: auto; }
  .booth .regularss .slick-prev {
    left: -50px; }
    .booth .regularss .slick-prev:before {
      padding: 10px;
      background: rgba(226, 167, 6, 0.5);
      border-radius: 50%;
      border: 1px solid #e2a706; }
  .booth .regularss .slick-next:before {
    padding: 10px;
    background: rgba(226, 167, 6, 0.5);
    border-radius: 50%;
    border: 1px solid #e2a706; }
  .booth .regularss .name-booth h2 {
    text-align: center;
    padding: 20px 0px; }
  .booth .regularss .name-booth a {
    color: #c60706;
    font-size: 25px;
    font-family: 'Philosopher-regular', sans-serif; }
  .booth .slick-dots {
    display: none !important; }
  .booth .img-sile {
    padding: 8px;
    border: 1px solid #e2a706; }
  .booth .slick-slide {
    margin: 0px 15px; }
    .booth .slick-slide img {
      width: 228px;
      height: 228px; }

/*# sourceMappingURL=index.css.map */
