@charset "UTF-8";
.main .about {
  text-align: center; }
.main .cuisine {
  text-align: center; }
  .main .cuisine .slide-c .slick-prev {
    top: calc(100% + 50px);
    left: 30%;
    z-index: 99; }
    @media (max-width: 576px) {
      .main .cuisine .slide-c .slick-prev {
        top: calc(100% + 50px);
        left: 20%; } }
  .main .cuisine .slide-c .slick-next {
    top: calc(100% + 50px);
    right: 30%;
    z-index: 99; }
    @media (max-width: 576px) {
      .main .cuisine .slide-c .slick-next {
        top: calc(100% + 50px);
        right: 20%; } }
  .main .cuisine .slide-c .slick-slide {
    margin: 0px 15px;
    height: auto; }
  .main .cuisine .slide-c .slick-dots {
    bottom: -60px; }
    .main .cuisine .slide-c .slick-dots li.slick-active button {
      font-family: 'Philosopher-regular';
      font-size: 13px;
      color: red; }
    .main .cuisine .slide-c .slick-dots li button {
      font-family: 'Philosopher-regular';
      font-size: 13px;
      color: black; }
      .main .cuisine .slide-c .slick-dots li button:before {
        content: ""; }
  .main .cuisine .title-cuisine span {
    font-family: 'Philosopher-regular';
    font-size: 40px;
    color: #c60706; }
    @media (max-width: 992px) {
      .main .cuisine .title-cuisine span {
        font-size: 30px; } }
  .main .cuisine .title-cuisine img {
    margin-top: -20px; }
    @media (max-width: 767px) {
      .main .cuisine .title-cuisine img {
        display: none; } }
  .main .cuisine .content-cuisine {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 85%;
    margin: 0 auto; }
.main .menu-category {
  position: relative;
  margin-top: 130px; }
  .main .menu-category > img {
    width: 100%;
    height: 965px; }
    @media (max-width: 375px) {
      .main .menu-category > img {
        height: 1085px; } }
  @media (max-width: 375px) {
    .main .menu-category .regular .slick-slide {
      margin: 0px !important; } }
  .main .menu-category .title-category span {
    font-family: 'Philosopher-regular';
    font-size: 40px;
    color: white; }
    @media (max-width: 992px) {
      .main .menu-category .title-category span {
        font-size: 30px; } }
  .main .menu-category .title-category img {
    margin-top: -20px; }
    @media (max-width: 767px) {
      .main .menu-category .title-category img {
        display: none; } }
  .main .menu-category .title-menu {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90px; }
  .main .menu-category .content-menu {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 85%;
    margin: 0 auto; }
    .main .menu-category .content-menu p {
      color: white;
      margin: 32px 0px 22px 0px; }
  .main .menu-category .regular .slick-next {
    display: none !important; }
  .main .menu-category .regular .slick-prev {
    display: none !important; }
  .main .menu-category .regular .title-menu1 {
    background: url("../../images/bg-menu1.jpg");
    padding: 16px;
    margin-bottom: 6px; }
    .main .menu-category .regular .title-menu1 h2 {
      padding: 22px;
      text-align: center;
      font-size: 14px;
      font-family: 'Philosopher', sans-serif;
      color: white;
      border: 1px solid #b55606;
      margin: 0px; }
  .main .menu-category .regular .content-menu1 {
    background: #ebeae8;
    padding: 15px; }
    .main .menu-category .regular .content-menu1 ul {
      margin: 0px;
      border: 1px solid #b55606;
      padding: 30px 20px; }
      @media (max-width: 576px) {
        .main .menu-category .regular .content-menu1 ul {
          padding: 30px 10px; } }
      .main .menu-category .regular .content-menu1 ul li {
        list-style: none;
        padding: 7px 0px;
        font-size: 14px; }
        .main .menu-category .regular .content-menu1 ul li .name-category {
          float: left;
          position: relative;
          overflow: hidden; }
          @media (max-width: 576px) {
            .main .menu-category .regular .content-menu1 ul li .name-category {
              width: 80%; } }
        .main .menu-category .regular .content-menu1 ul li .price-category {
          color: red; }
        .main .menu-category .regular .content-menu1 ul li .name {
          position: absolute;
          left: 0;
          top: 0;
          background: #ebeae8; }
        .main .menu-category .regular .content-menu1 ul li .price-category {
          float: right; }
        .main .menu-category .regular .content-menu1 ul li:after {
          content: "\0020";
          white-space: pre;
          clear: both; }

.food-group .title-f {
  padding: 75px 0px;
  background: url("../../images/bgtinhhoa.png"); }
.food-group .title-food {
  text-align: center; }
  .food-group .title-food span {
    font-size: 40px;
    font-family: 'Philosopher-regular';
    color: #c60706; }
    @media (max-width: 992px) {
      .food-group .title-food span {
        font-size: 30px; } }
  .food-group .title-food img {
    margin-top: -20px; }
    @media (max-width: 767px) {
      .food-group .title-food img {
        display: none; } }
.food-group .content-food-left {
  width: 50%;
  float: left; }
  @media (max-width: 1200px) {
    .food-group .content-food-left {
      width: 100%; } }

.clear {
  clear: both; }

.content-food-left section button {
  display: none !important; }
.content-food-left .slider-product {
  float: left;
  width: 75%; }
  .content-food-left .slider-product .lazy {
    margin: 0px; }
    .content-food-left .slider-product .lazy .slick-dots {
      display: none !important;
      height: 0px; }
  @media (max-width: 992px) {
    .content-food-left .slider-product {
      width: 100%; } }
  .content-food-left .slider-product .slick-slide {
    height: 664px;
    margin: 0px; }
    .content-food-left .slider-product .slick-slide div {
      height: 100%; }
      .content-food-left .slider-product .slick-slide div img {
        height: 100%; }
    @media (max-width: 576px) {
      .content-food-left .slider-product .slick-slide {
        height: 346px; } }
    @media (max-width: 767px) {
      .content-food-left .slider-product .slick-slide {
        height: 524px; } }
.content-food-left .list-category {
  width: 25%;
  float: left;
  padding: 20px;
  background: url(../../images/bg-menu1.jpg);
  font-family: 'Philosopher', sans-serif;
  height: 664px; }
  @media (max-width: 992px) {
    .content-food-left .list-category {
      width: 100%;
      height: 200px; } }
  .content-food-left .list-category .title-list-c {
    border: 1px solid #e2a706;
    height: 100%;
    padding: 45px 0px; }
    .content-food-left .list-category .title-list-c .slick-slide {
      height: auto; }
    .content-food-left .list-category .title-list-c .slick-dots {
      display: none !important; }
    .content-food-left .list-category .title-list-c .slick-next {
      right: 25%;
      top: 100%; }
      @media (max-width: 992px) {
        .content-food-left .list-category .title-list-c .slick-next {
          right: 50px;
          top: 50%; } }
      .content-food-left .list-category .title-list-c .slick-next::before {
        padding: 10px;
        background: rgba(226, 167, 6, 0.5);
        border-radius: 50%;
        border: 1px solid #e2a706; }
    .content-food-left .list-category .title-list-c .slick-prev {
      left: 15%;
      top: 100%; }
      @media (max-width: 992px) {
        .content-food-left .list-category .title-list-c .slick-prev {
          left: 50px;
          top: 50%; } }
      .content-food-left .list-category .title-list-c .slick-prev::before {
        content: "→";
        padding: 10px;
        background: rgba(226, 167, 6, 0.5);
        border-radius: 50%;
        border: 1px solid #e2a706; }
    .content-food-left .list-category .title-list-c button {
      display: inline-block !important; }
  .content-food-left .list-category h1 {
    font-size: 30px;
    color: white;
    text-align: center; }
  .content-food-left .list-category .slider h2 {
    font-family: 'Philosopher-regular', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px; }
  .content-food-left .list-category .slider .slick-slide {
    opacity: 0; }
  .content-food-left .list-category .slider .slick-active {
    opacity: 1; }

.content-food-right {
  height: 664px;
  width: 50%;
  padding: 95px 70px;
  float: left; }
  @media (max-width: 1200px) {
    .content-food-right {
      width: 100%; } }
  @media (max-width: 576px) {
    .content-food-right {
      height: 850px; } }
  @media (max-width: 400px) {
    .content-food-right {
      padding: 95px 45px; } }
  .content-food-right .title-food-r {
    text-align: center;
    font-family: 'Philosopher-regular', sans-serif;
    font-size: 30px; }
    .content-food-right .title-food-r h2 {
      color: #c60706; }
  .content-food-right .comment-food p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0px 50px 0px;
    text-algin: center; }
  .content-food-right .regulars .slick-slide {
    height: auto;
    padding: 8px;
    border: 1px solid #e2a706;
    margin: 0px 15px; }
  .content-food-right .regulars .slick-list {
    padding-bottom: 35px; }
  .content-food-right .regulars .slick-dots {
    padding-top: 35px;
    font-size: 30px !important; }
    .content-food-right .regulars .slick-dots button:before {
      color: red;
      font-size: 15px; }
  .content-food-right .regulars .slick-prev {
    display: none !important; }
  .content-food-right .regulars .slick-next {
    display: none !important; }

.booth {
  padding: 90px 125px 60px 125px;
  background: #f8e3c5; }
  @media (max-width: 1200px) {
    .booth {
      padding: 90px 60px 60px 60px; } }
  @media (max-width: 576px) {
    .booth {
      padding: 90px 30px 60px 30px; } }
  .booth .title-b {
    text-align: center;
    margin-bottom: 25px; }
    .booth .title-b span {
      font-size: 40px;
      color: #c60706;
      font-family: 'Philosopher-regular'; }
      @media (max-width: 992px) {
        .booth .title-b span {
          font-size: 30px; } }
    .booth .title-b img {
      margin-top: -20px; }
      @media (max-width: 767px) {
        .booth .title-b img {
          display: none; } }
  .booth .slick-slide {
    height: auto; }
  .booth .regularss {
    margin: 0px; }
    .booth .regularss .slick-prev {
      left: -50px; }
      .booth .regularss .slick-prev:before {
        padding: 10px;
        background: rgba(226, 167, 6, 0.5);
        border-radius: 50%;
        border: 1px solid #e2a706; }
    .booth .regularss .slick-next:before {
      padding: 10px;
      background: rgba(226, 167, 6, 0.5);
      border-radius: 50%;
      border: 1px solid #e2a706; }
    .booth .regularss .name-booth h2 {
      text-align: center;
      padding: 20px 0px;
      margin: 0px; }
    .booth .regularss .name-booth a {
      color: #c60706;
      font-size: 25px;
      font-family: 'Philosopher-regular', sans-serif; }
  .booth .slick-dots {
    display: none !important; }
  .booth .img-sile {
    padding: 8px;
    border: 1px solid #e2a706; }
  .booth .slick-slide {
    margin: 0px 15px; }
    .booth .slick-slide img {
      width: 228px;
      height: 228px; }
      @media (max-width: 1200px) {
        .booth .slick-slide img {
          width: 100%; } }

.news {
  padding: 90px 0px; }
  .news .content-left .items-news:nth-child(even) .content-item:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    z-index: 10;
    margin-top: -50px;
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    border-color: transparent transparent transparent #faf3e8;
    right: -20px; }
  .news .content-left .items-news:nth-child(odd) .content-item:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    z-index: 12;
    margin-top: -50px;
    border-style: solid;
    border-width: 20px 20px 20px 0px;
    border-color: transparent #faf3e8 transparent transparent;
    left: -20px; }
  .news .title-news {
    text-align: center;
    margin-bottom: 35px; }
    .news .title-news span {
      font-size: 40px;
      color: #c60706;
      font-family: 'Philosopher-regular'; }
      @media (max-width: 992px) {
        .news .title-news span {
          font-size: 30px; } }
    .news .title-news img {
      margin-top: -20px; }
      @media (max-width: 767px) {
        .news .title-news img {
          display: none; } }
  .news .content-left {
    float: left;
    width: 50%; }
    @media (max-width: 992px) {
      .news .content-left {
        width: 100%; } }
  .news .items-news {
    background: #faf3e8;
    width: 100%; }
    .news .items-news .img-item {
      width: 50%;
      float: left; }
      .news .items-news .img-item img {
        filter: grayscale(100%);
        transition: all .5s;
        height: 292px;
        width: 100%; }
        @media (max-width: 576px) {
          .news .items-news .img-item img {
            height: 224px; } }
    .news .items-news:hover .img-item img {
      filter: none; }
    .news .items-news .content-item {
      position: relative;
      width: 50%;
      float: left;
      padding: 30px;
      height: 292px; }
      @media (max-width: 1200px) {
        .news .items-news .content-item {
          padding: 20px; } }
      @media (max-width: 992px) {
        .news .items-news .content-item {
          padding: 30px; } }
      @media (max-width: 767px) {
        .news .items-news .content-item {
          padding: 20px; } }
      @media (max-width: 576px) {
        .news .items-news .content-item {
          padding: 10px;
          height: 224px; } }
      .news .items-news .content-item h2 {
        font-size: 25px;
        font-family: 'Philosopher-regular'; }
        @media (max-width: 1200px) {
          .news .items-news .content-item h2 {
            font-size: 20px; } }
        @media (max-width: 992px) {
          .news .items-news .content-item h2 {
            font-size: 25px; } }
        @media (max-width: 767px) {
          .news .items-news .content-item h2 {
            font-size: 20px; } }
        @media (max-width: 576px) {
          .news .items-news .content-item h2 {
            font-size: 15px; } }
        .news .items-news .content-item h2 a {
          color: black; }
      .news .items-news .content-item p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif; }
        @media (max-width: 1200px) {
          .news .items-news .content-item p {
            font-size: 12px; } }
        @media (max-width: 992px) {
          .news .items-news .content-item p {
            font-size: 14px; } }
        @media (max-width: 767px) {
          .news .items-news .content-item p {
            font-size: 12px; } }
        @media (max-width: 576px) {
          .news .items-news .content-item p {
            font-size: 10px; } }
      .news .items-news .content-item > a {
        color: #ca2a28;
        font-family: 'Philosopher-regular';
        font-size: 16px; }
      .news .items-news .content-item .calendar {
        font-size: 13px;
        color: #8d8d8d; }

.address-contact {
  padding: 90px 0px;
  background: url("../../images/bg-addres.jpg"); }
  .address-contact .title-news {
    text-align: center;
    margin-bottom: 35px; }
    .address-contact .title-news span {
      font-size: 40px;
      font-family: 'Philosopher-regular';
      color: white; }
      @media (max-width: 992px) {
        .address-contact .title-news span {
          font-size: 30px; } }
    .address-contact .title-news img {
      margin-top: -20px; }
      @media (max-width: 767px) {
        .address-contact .title-news img {
          display: none; } }
  .address-contact .name-map {
    text-align: center; }
    .address-contact .name-map h2 {
      font-family: 'Philosopher-regular';
      font-size: 25px;
      color: white;
      padding: 20px 0px 10px 0px;
      margin: 0px; }
    .address-contact .name-map hr {
      margin: 10px 0px;
      background: #a33a2a; }
    .address-contact .name-map p {
      color: white;
      margin: 10px 0px 0px 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px; }
  .address-contact .img-map img {
    width: 100%; }

.vertical-center-4 {
  position: relative; }
  .vertical-center-4 i {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 12px 14px;
    background: #b55606;
    border-radius: 50%;
    z-index: 999; }
  .vertical-center-4 .fa-chevron-left {
    left: 10px; }
  .vertical-center-4 .fa-chevron-right {
    right: 10px; }

.slide-cuisine {
  position: relative; }
  .slide-cuisine i {
    position: absolute;
    bottom: -65px;
    color: #b3b3b3;
    padding: 12px 14px;
    /* background: #b55606; */
    border-radius: 50%;
    border: 1px solid #b3b3b3;
    z-index: 9999; }
  .slide-cuisine .fa-chevron-left {
    left: 30%; }
    @media (max-width: 767px) {
      .slide-cuisine .fa-chevron-left {
        left: 20%; } }
    @media (max-width: 567px) {
      .slide-cuisine .fa-chevron-left {
        left: 0px; } }
  .slide-cuisine .fa-chevron-right {
    right: 30%; }
    @media (max-width: 767px) {
      .slide-cuisine .fa-chevron-right {
        right: 20%; } }
    @media (max-width: 567px) {
      .slide-cuisine .fa-chevron-right {
        right: 0px; } }

.booth {
  position: relative; }
  .booth i {
    position: absolute;
    top: 35%;
    color: white;
    padding: 12px 14px;
    background: #b55606;
    border-radius: 50%;
    z-index: 999; }
  .booth .fa-chevron-left {
    left: -30px; }
  .booth .fa-chevron-right {
    right: -30px; }

@media (max-width: 567px) {
  .mg-4 {
    margin: 40px 0px; } }

/*# sourceMappingURL=index.css.map */
